#select-search,
#input-search {
  width: 200px;
}
.movie-component {
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease;
}
.movie-component:hover {
  transform: translate3D(0,-1px,0) scale(1.05); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}
#container-movie {
  height: calc(100vh - 104px);
}
.background {
  background-color: #000;
  overflow: auto;
  min-height: 100vh;
  height: 100%;
}
.bg-dark {
  background-color: #222 !important;
}
.navbar-dark
.navbar-brand {
  color: #EB001E !important;
}
.custom-btn,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #EB001E;
  border-color: #EB001E;
  box-shadow: none;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: #ced4da;
  color: #fff;
}
h1,
h4,
p {
  color: #fff;
}
